@mixin centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin resetBtn {
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
}